<phpunit color="true" stopOnError="true" verbose="true">
  <testsuites>
    <testsuite name="product">
      <directory>tests/ProductServiceMockTest.php</directory>
      <directory>tests/ProductServiceTest.php</directory>
    </testsuite>

    <testsuite name="counter">
      <directory>tests/CounterStaticTest.php</directory>
      <directory>tests/CounterTest.php</directory>
    </testsuite>

    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>